*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height:100%;
  width:100%;

}

body{
  background-color:#111;
  color: aliceblue;
}

.card{
  background-color: rgb(165, 41, 62);
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
}

.nav{
  background-color: lightsalmon;
  padding: 20px;
  margin: 2px;
}